@import "../abstract/variables";
@import "../abstract/mixins";

.footer {
  margin-top: 15rem;
  &__container {
    padding-top: 10rem;
    border-top: 2px solid #ebe1f9;
    display: grid;
    grid-template-rows: 30% 60% auto;
    &__top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &__heading {
        &__title {
          font-family: "Arimo", sans-serif;
          font-weight: bold;
          font-size: 4rem;
          line-height: 130%;
          color: map-get($colors, --warehouse-color-primary-blue);
        }
        &__subTitle {
          font-family: "Nunito", sans-serif;
          font-weight: 500;
          font-size: 1.8rem;
          line-height: 160%;
          color: map-get($colors, --warehouse-color-primary-blue);
        }
      }
      &__buttons {
        button {
          @include primary-btn;
        }
        button:not(:last-child) {
          margin-right: 3rem;
        }
        .btn-pink {
          background-color: map-get($colors, --warehouse-color-primary-pink);
          color: map-get($colors, --warehouse-color-primary-white);
        }
        .btn-pink:hover {
          background-color: #f51fa0;
        }
      }
    }
    &__middle {
      margin-top: 15rem;
      display: flex;
      justify-content: space-between;
      &__left {
        &__address {
          &__title {
            margin-top: 6.5rem;
            width: 33.5rem;
            font-family: "Nunito", sans-serif;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 180%;
            color: map-get($colors, --warehouse-color-primary-blue);
          }
          &__email {
            width: 33.5rem;
            font-family: "Nunito", sans-serif;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 180%;
            color: map-get($colors, --warehouse-color-primary-blue);
          }
        }
      }
      &__center {
        display: flex;
        width: 30%;
        justify-content: space-evenly;
        &__left,
        &__right {
          display: flex;
          flex-direction: column;
          &__title {
            font-family: "Nunito", sans-serif;
            font-weight: 900;
            font-size: 1.6rem;
            line-height: 160%;
            color: map-get($colors, --warehouse-color-primary-blue);
          }
          a {
            text-decoration: none;
            font-family: "Nunito", sans-serif;
            font-size: 1.6rem;
            line-height: 250%;
            color: map-get($colors, --warehouse-color-primary-blue);
          }
          a:hover {
            color: map-get($colors, --warehouse-color-primary-purple);
          }
        }
      }
      &__right {
        &__title {
          font-family: "Nunito", sans-serif;
          font-weight: 900;
          font-size: 1.6rem;
          line-height: 160%;
          color: map-get($colors, --warehouse-color-primary-blue);
        }
        &__socialIcons {
          display: flex;
          a:not(:last-child) {
            margin-right: 1.4rem;
          }
        }
      }
    }
  }
}
