@import "../abstract/mixins";
@import "../abstract/variables";

.FtCard {
  width: 53.12rem;
  position: relative;
  &__content {
    display: flex;
    &__img {
      transform: translateY(5%);
    }
    &__bg {
      position: absolute;
      position: absolute;
      top: -8rem;
      right: 0;
      z-index: -1;
    }
    &__vectorBg {
      padding-left: 2.9rem;
      &__title {
        width: 20rem;
        font-family: "Arimo", sans-serif;
        font-size: 2.4rem;
        line-height: 130%;
        color: map-get($colors, --warehouse-color-primary-blue);
      }
      &__description {
        width: 22rem;
        font-family: "Nunito", sans-serif;
        font-size: 1.6rem;
        line-height: 160%;
      }
      a {
        display: flex;
        align-items: center;
        font-family: "Nunito", sans-serif;
        font-weight: 900;
        font-size: 1.6rem;
        line-height: 160%;
        text-decoration: none;
        color: map-get($colors, --warehouse-color-primary-blue);
        i {
          margin-left: 1rem;
          color: inherit;
        }
      }
      a:hover {
        color: #5b5c7d;
      }
    }
  }
}
