@import "../abstract/variables";
@import "../abstract/mixins";

.navbar {
  padding-top: 5rem;
  background-image: linear-gradient(180deg, #f7fbfd 60%, white);
  nav {
    width: 100%;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    &__logo {
      width: 4.9rem;
      height: 3.5rem;
      display: flex;
      &__first {
        width: 2rem;
        margin-top: auto;
        height: 2rem;
        border-radius: 2rem;
        background-color: map-get($colors, --warehouse-color-primary-purple);
        margin-right: 0.5rem;
        box-shadow: 0 0.4rem 0.4rem rgba($color: #000000, $alpha: 0.25);
      }
      &__second {
        width: 2rem;
        height: 3.5rem;
        border-radius: 2rem;
        background-color: map-get($colors, --warehouse-color-primary-pink);
        @include box-shadow;
      }
    }
    &__items {
      transform: translateX(-30%);
      display: grid;
      place-items: center;
      ul {
        display: flex;
        font-family: "Nunito", sans-serif;
        font-size: 1.6rem;
        list-style: none;
        margin-bottom: unset !important;
        li:not(:last-child) {
          margin-right: 5.5rem;
        }
        li a {
          text-decoration: none;
          color: map-get($colors, --warehouse-color-primary-blue);
          @include text-shadow;
        }
      }
    }
    &__btn {
      width: 21rem;
      height: 6rem;
      @include box-shadow;
      background-color: map-get($colors, --warehouse-color-primary-white);
      border-radius: 5rem;
      outline: none !important;
      border: none;
      color: map-get($colors, --warehouse-color-primary-blue);
      font-family: "Nunito", sans-serif;
      font-weight: 800;
      font-size: 1.6rem;
      i {
        padding-left: 2rem;
        font-size: 2rem;
        color: map-get($colors, --warehouse-color-primary-purple);
      }
    }
  }
}
