@import "../abstract/mixins";
@import "../abstract/variables";

.heading {
  &__title {
    width: 58.4rem;
    font-family: "Arimo", sans-serif;
    font-weight: bold;
    font-size: 4rem;
    text-align: center;
    line-height: 130%;
    color: map-get($colors, --warehouse-color-primary-blue);
  }
  &__description {
    width: 58.4rem;
    font-family: "Nunito", sans-serif;
    font-size: 1.8rem;
    line-height: 160%;
    text-align: center;
    color: map-get($colors, --warehouse-color-primary-blue);
  }
}
