@import "../abstract/mixins";
@import "../abstract/variables";

.RectangleCard {
  width: 64.5rem;
  height: 33rem;
  background-color: map-get($colors, --warehouse-color-primary-white);
  box-shadow: 0px 20px 0px rgba(156, 105, 226, 0.3);
  border-radius: 2rem;
  &__wrapper {
    display: grid;
    grid-template-columns: 25% auto;
  }
  &__content {
    &__left {
      padding-top: 4rem;
      padding-left: 5rem;
    }
    &__right {
      padding-top: 6rem;
      &__heading {
        &__name {
          font-family: "Nunito", sans-serif;
          font-weight: 900;
          font-size: 1.8rem;
          line-height: 160%;
          color: map-get($colors, --warehouse-color-primary-blue);
        }
        &__title {
          font-family: "Nunito", sans-serif;
          font-weight: 500;
          font-size: 1.4rem;
          line-height: 160%;
          color: map-get($colors, --warehouse-color-primary-purple);
          margin-top: -1rem;
        }
      }
      &__description {
        font-family: "Nunito", sans-serif;
        font-size: 1.8rem;
        line-height: 180%;
        color: map-get($colors, --warehouse-color-primary-blue);
      }
    }
  }
}
