@import "../abstract/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
/* width */
::-webkit-scrollbar {
  width: 1.3rem;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: map-get($colors, --warehouse-color-primary-coral);
  border-radius: 5rem;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3ccfb9;
}
