@import "../abstract/mixins";
@import "../abstract/variables";

.banner {
  padding-top: 9rem;
  &__content {
    display: grid;
    grid-template-columns: 50% auto;
    &__left {
      &__heading {
        width: 64.5rem;
        font-family: "Arimo", sans-serif;
        font-weight: bold;
        font-size: 8rem;
        line-height: 110%;
        color: map-get($colors, --warehouse-color-primary-blue);
        @include text-shadow;
      }
      &__description {
        width: 37rem;
        font-family: "Nunito", sans-serif;
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 160%;
        color: map-get($colors, --warehouse-color-primary-blue);
        margin-top: 5rem;
        @include text-shadow;
      }
      &__btn {
        width: 17rem;
        height: 6rem;
        background-color: map-get($colors, --warehouse-color-primary-purple);
        border-radius: 5rem;
        color: map-get($colors, --warehouse-color-primary-white);
        border: none !important;
        font-family: "Nunito", sans-serif;
        font-weight: 800;
        font-size: 1.8rem;
        line-height: 160%;
        margin-top: 5rem;
        @include box-shadow;
      }
      &__btn:hover {
        background-color: #7426e0;
      }
    }
    &__right {
      transform: translateX(-30%);
      padding-top: 4.5rem;
      &__image {
        transform: scale(0.8);
        @include svg-shadow;
      }
    }
  }
  &__card {
    padding-top: 9.18rem;
    &__wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      border-radius: 5rem;
      background-color: rgba(240, 99, 184, 0.15);
      place-items: center;
    }
    &__left {
      img {
        width: 47.7rem;
        height: 50.4rem;
      }
    }
    &__right {
      &__title {
        width: 47.5rem;
        font-family: "Arimo", sans-serif;
        font-weight: bold;
        font-size: 4rem;
        line-height: 130%;
        color: map-get($colors, --warehouse-color-primary-blue);
      }
      &__description {
        width: 47.5rem;
        font-family: "Nunito", sans-serif;
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 160%;
        color: map-get($colors, --warehouse-color-primary-blue);
      }
    }
  }
}
