@import "../abstract/variables";
@import "../abstract/mixins";

.features {
  padding-top: 14.98rem;
  &__content {
    &__heading {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__cards {
      padding-top: 14rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 18rem 3rem;
    }
  }
}
