@import "../abstract/variables";
@import "../abstract/mixins";

.Testimonials {
  margin-top: 10rem;
  position: relative;
  &__box {
    width: 111.8rem;
    height: 70.9rem;
    position: relative;
    // z-index: -1;
    background-color: map-get($colors, --warehouse-color-primary-purple);
    border-radius: 5rem;
    display: flex;
    &__title {
      font-size: 4rem;
      display: flex;
      margin-top: 10.9rem;
      margin-left: 9.3rem;
      font-family: "Arimo", sans-serif;
      font-weight: bold;
      line-height: 130%;
      color: map-get($colors, --warehouse-color-primary-white);
    }
    &__wrapper {
      position: absolute;
      margin-left: 9.3rem;
      bottom: 20%;
      .carousel {
        .carousel-indicators {
          bottom: -10rem;
          justify-content: flex-start;
          margin-left: unset;
          .active {
            width: 1rem;
            height: 1rem;
            border-radius: 50%;
            background-color: map-get($colors, --warehouse-color-primary-pink);
          }
          li {
            background-color: white;
            width: 1rem;
            height: 1rem;
            border-radius: 50%;
          }
        }
        .carousel-control-prev {
          height: 3rem;
          left: 65rem;
          top: 15rem;
        }
        .carousel-control-next {
          height: 3rem;
          left: 80rem;
          top: 15rem;
        }
      }
    }
  }
}
