@mixin desktop($size) {
  @media screen and (max-width: $size) {
    @content;
  }
}
@mixin fix-desktop($size) {
  @media screen and (width: $size) {
    @content;
  }
}
@mixin tablets($size) {
  @media screen and (max-width: $size) {
    @content;
  }
}

@mixin fix-tablets($size) {
  @media screen and (width: $size) {
    @content;
  }
}

@mixin mobile($size) {
  @media screen and (max-width: $size) {
    @content;
  }
}

@mixin fix-mobile($size) {
  @media screen and (width: $size) {
    @content;
  }
}

@mixin box-shadow {
  box-shadow: 0 4px 4px rgba($color: #000000, $alpha: 0.25);
}

@mixin text-shadow {
  text-shadow: 0 4px 4px rgba($color: #000000, $alpha: 0.25);
}

@mixin svg-shadow {
  -webkit-filter: drop-shadow(0 4px 4px rgba($color: #000000, $alpha: 0.25));
  filter: drop-shadow(0 4px 4px rgba($color: #000000, $alpha: 0.25));
}

@mixin primary-btn {
  width: 21rem;
  height: 6rem;
  @include box-shadow;
  background-color: map-get($colors, --warehouse-color-primary-white);
  border-radius: 5rem;
  outline: none !important;
  border: none;
  color: map-get($colors, --warehouse-color-primary-blue);
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  font-size: 1.6rem;
  i {
    padding-left: 2rem;
    font-size: 2rem;
    color: map-get($colors, --warehouse-color-primary-purple);
  }
}
