$colors: (
  --warehouse-color-primary-blue: #212353,
  --warehouse-color-primary-grey: #4b5d68,
  --warehouse-color-primary-purple: #9c69e2,
  --warehouse-color-primary-pink: #f063b8,
  --warehouse-color-primary-coral: #68c9ba,
  --warehouse-color-primary-skyblue: #2d9cdb,
  --warehouse-color-primary-white: #ffffff,
);
